.contact-Wrap {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 50.5px;
  // justify-content: space-between;
}

.mapBox {
  width: 400px;
  height: 442px;
  // background-color: #79addc;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 50px;
}

.contact-Form {
  margin: 0;

  min-height: 442px;
  input,
  label {
    font-family: "Gill Sans MT";
    font-size: 16px;
    color: #707070;
    border: none;
  }

  .contactBox1,
  .contactBox2 {
    width: 100%;
    background-color: #f5f5f5;
  }
  .contactBox1 {
    height: 60px;
  }
  .contactBox2 {
    height: 200px;
  }
}

.addressBox {
  max-width: 400px;
  height: 161px;
  margin-top: 34px;
  margin-bottom: 60px;
  p {
    font-size: 18px;
  }
}
