.about {
  margin-top: 111px;
  margin-bottom: 180px;
  .about-header {
    h1 {
      font-size: 60px;
      // font-family: ProximaNova;
    }
    hr {
      @include nav-black();
      width: 171px;
    }
  }
  .about-client-quotes {
    margin-top: 107px;

    .client-quote-title {
      font-size: 30px;
      // font-family: ProximaNova;
    }
    hr {
      @include nav-black();
      width: 255px;
    }
    .client-box {
      //   background-color: brown;
      max-width: 722px;
      height: 150px;
      margin-top: 37px;
      margin-bottom: 37px;
      display: flex;
      position: relative;

      .client-img {
        // background-color: coral;
        width: 260px;
        height: 150px;
        margin-right: 21px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .client-text {
        width: 385px;
        height: 102px;
        margin-bottom: 30px;
        p {
          font-size: 16px;
        }
      }
      .client-name {
        color: #79addc;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
